<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button *ngIf="!collapsed" class="logo" (click)="toggleCollapse()">
      K
    </button>
    <div class="logo-txt" *ngIf="collapsed">
      <span>Kanban</span>
    </div>
    <button *ngIf="collapsed" class="btnclose" (click)="closeSideNav()">
      <svg xmlns="http://www.w3.org/2000/svg" class="menu-toggle" viewBox="0 0 448 512">
        <path
          d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
      </svg>
    </button>
  </div>
  <div class="profile-card">
    <div class="profile-align">
      <img src="./../../../../assets/images/9439678.jpg" width="35" height="35" alt="" />
      <div class="profile-name" *ngIf="collapsed">
        <div>
          <span class="name">{{ loginDetails?.fullName }}</span>
        </div>
      </div>
    </div>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <ng-container>
        <a class="sidenav-nav-link" [routerLink]="'task'" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <img src="./../../../../assets/icons/clipboard.png" class="task_icon" alt="">
          <span class="sidenav-link-text" *ngIf="collapsed">Task Details</span>
        </a>
      </ng-container>
    </li>
  </ul>
  <button class="w-100 text-white" mat-button (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    <span style="margin-left: 6px">Logout</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>